* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-left: 48px;
}
header .circle {
  width: 48px;
  height: 48px;
  background: #c4c4c4;
  top: calc(50% - 24px - 440px);
}

.content {
  width: 715px;
  margin-left: auto;
  margin-right: auto;
}
.content .texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}
.content .texts h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}
.content .texts p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  display: flex;
  align-items: center;
  text-align: center;
}
.content .texts p a {
  margin-left: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.content .body {
  display: grid;
  gap: 40px;
}
.content .body .footer {
  margin-top: 72px;
  display: grid;
  gap: 16px;
}
.content .body .footer .text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #666666;
}
.content .body .footer .btts {
  display: flex;
  gap: 16px;
}
.content .body .footer .btts button {
  width: 227px;
  height: 64px;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 40px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  color: #333333;
  cursor: cell;
}
.content .body .first {
  display: grid;
  gap: 40px;
}
.content .body .first .both {
  display: grid;
  gap: 7px;
}
.content .body .first .both .below {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #666666;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.content .body .first .both .name {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.content .body .first .both input[type=text] {
  width: 715px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}
.content .body .total {
  display: grid;
  gap: 16px;
}
.content .body .total .buuton button {
  background: #111111;
  opacity: 0.25;
  border-radius: 40px;
  width: 715px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: cell;
}
.content .body .total .buuton button div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.content .body .total .txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.content .body .total .txt a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}/*# sourceMappingURL=sign_up.css.map */